<div class="card mb-3">
                                <div class="row no-gutters product-grid ">
                                    <div class="col-md-4">
                                        <div class="product-image p-2">
                                            <a href="<?= yii\helpers\Url::to(['autoshop/view', 'id' => $product['Id'], 'class' => 'image']) ?>">
                                                <?                                         
                                        $img = Yii::getAlias('@webroot') . '/img/' . $product['Img'];;
                                        if (is_file($img)) {
                                            $url = Yii::getAlias('@web') . '/img/' . $product['Img'];
                                            
                                        }else{
                                            $url= Yii::getAlias('@web') . '/img/products/defult_prodact.jpg';
                                        }  ?>
                                                <?= Html::img($url, ['alt' => 'Product', 'class' => 'pic ', 'title' => $product['MetaTitle']]) ?>
                                            </a>

                                            <ul class="social">
                                                <? 
                                            if (!($wishlist['products'][$product['Id']])):
                                        ?>

                                                <li><a href="<?= yii\helpers\Url::to(['autoshop/list',  'wish' => 'add', 'id' => $product['Id']]) ?>" data-tip="Add to Wishlist"><i class="fa fa-lg fa-heart-o"></i></a></li>
                                                <? else : ?>
                                                <li><a href="<?= yii\helpers\Url::to(['autoshop/list', 'wish' => 'del', 'id' => $product['Id']]) ?>" data-tip="Del from Wishlist"><i class="fa fa-lg fa-heart"></i></a></li>
                                                <? endif ?>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <a href="<?= yii\helpers\Url::to(['autoshop/view', 'id' => $product['Id']]) ?>"><?= $product['Name']  ?></a>
                                            </h5>
                                            <p class="card-text"><?=
                                                                    $product['MetaTitle']
                                                                    ?></p>
                                            <div class="price"><?= $product['Price'] ?> грн</div>

                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <?if( $product['Status']== 10):?>
                                        <? $nal = 0;
                                            if ($carts == []) {
                                                $nal = 0;
                                            } else {
                                                foreach ($carts['products'] as $cart) {
                                                    if ($cart['Id'] == $product['Id']) {
                                                        $nal = 1;
                                                    }
                                                }
                                            }
                                           
                                            ?>
                                        <? if ($nal == 0) : ?>
                                        <a class="add-to-cart mt-3" href="<?= yii\helpers\Url::to([
                                                                                'autoshop/search',
                                                                                'addCart' => 'add', 'id' => $product['Id'],
                                                                                'count' => $product['MinQunt']
                                                                            ])
                                                                            ?>">
                                            <i class="fa fa-shopping-cart"></i> <span>Купить</span>
                                        </a>
                                        <? else : ?>
                                        <a class="add-to-cart" href="<?= yii\helpers\Url::to([
                                                                            'autoshop/search',

                                                                            'delCart' => 'del', 'id' => $product['Id']
                                                                        ]) ?>">
                                            <i class="fa fa-shopping-cart"></i> <span>Удалить</span>
                                        </a>
                                        <? endif ?>
                                        <? endif ?>
                                    </div>

                                </div>
                                <?
                                $analogs=explode(',', $product['Tegs']);
                                
                                $zakazItems=[];
                              
                                array_push($analogs, $product['Name']);
                             
                            foreach($analogs as $analog){
                                    if(!empty($analog)){
                                       
                                   $zakaz =ZakazProducts::find()
                                //    -> select('Id', 'Brand', 'ProductName', 'Description', 'Img', 'Price', 'TermsDelive')
                                   ->where(['ProductName'=>trim($analog)])->all();
                                 
                                  if (!empty($zakaz))
                                   {
                                        foreach($zakaz as $an)
                                        {    //print_r($an);
                                            array_push($zakazItems, $an);
                                        }
                                    }
                                }
                            }
                          
                               
                                foreach($zakazItems as $zakazItem):
                                   
                                ?>

                                <div class="row no-gutters ">
                                    <div class="col-md-4">
                                        <img src="<?= $zakazItem->Img ?>" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><?= $zakazItem->ProductName ?></h5>
                                            <p class="card-text"><?= $zakazItem->Description ?></p>
                                            <p class="card-text"><?= $zakazItem->TermsDelive ?></p>
                                            <p class="card-text"><?= $zakazItem->Price ?> грн</p>
                                        </div>
                                    </div>
                                </div>
                                <?endforeach?>

                            </div>
                        <?php endforeach; ?>
                    </div>
                    <?= LinkPager::widget(['pagination' => $pages]); /* постраничная навигация */ ?>
                <?php else : ?>
                    <p>По вашему запросу ничего не найдено.</p>
                <?php endif; ?>
                </div>